# This is Git's per-user configuration file.
[user]
	name = Krzysiek Karbowiak
	email = krzysztof.karbowiak@interia.pl
[pretty]
	dense = %C(red)%h%C(reset) %C(yellow)%ai%C(reset) %<(22)%C(green)%an%C(reset) %C(cyan)%s%C(reset) %C(auto)%d%C(reset)
[alias]
	adp = add --patch
	br = branch
	bra = branch --all
	brav = branch --all --verbose
	bravv = branch --all --verbose --verbose
	brf = branch --format '%(color:yellow)%(creatordate:iso8601)%(color:reset) %(color:green)%(align:22)%(committername)%(end)%(color:reset) %(color:cyan)%(refname:lstrip=-1)%(color:reset)'
	brr = branch --remote
	brrv = branch --remote --verbose
	brv = branch --verbose
	brvv = branch --verbose --verbose
	ci = commit
	co = checkout
	cob = checkout -b
	cop = checkout --patch
	di = diff
	dic = diff --cached
	dih = diff HEAD
	dira = diff @{upstream}..
	dirb = diff ..@{upstream}
	fe = fetch
	fep = fetch --prune
	logd = log --pretty=dense
	logdra = log --pretty=dense @{upstream}..
	logdrb = log --pretty=dense ..@{upstream}
	rep = reset --patch
	st = status
	stashki = stash --keep-index
	stashiu = stash --include-untracked
	stashku = stash --keep-index --include-untracked
	sw = switch
	swb = switch -
	swc = switch --create
	swd = switch --detach
[credential]
	helper = cache --timeout 36000
[diff]
	tool = meld
[stash]
	showIncludeUntracked = true
[core]
	editor = micro
